ConsumirServiciosProyecto/ConsumirServiciosProyecto_WS/Service References/ProxyIngreso/WCF_Prision32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://c205-07redes/WCFPrision/WCF_Prision.ServicioIngreso.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Prision" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIngreso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetAllIngresoResult" nillable="true" type="q1:ArrayOfIngresoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngresosPreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strDNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngresosPresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetIngresosPresoResult" nillable="true" type="q2:ArrayOfIngresoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngresoFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngresoFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetIngresoFechasResult" nillable="true" type="q3:ArrayOfIngresoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPresoPorSalirFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPresoPorSalirFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetAllPresoPorSalirFechasResult" nillable="true" type="q4:ArrayOfIngresoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDelitosDNI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strDNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDelitosDNIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetAllDelitosDNIResult" nillable="true" type="q5:ArrayOfDelitoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDelitosDNIFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strDNI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDelitosDNIFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetAllDelitosDNIFechasResult" nillable="true" type="q6:ArrayOfDelitoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>