ConsumirServiciosProyecto/ConsumirServiciosProyecto_WEBGUI/App_WebReferences/ProxyIngreso/WCF_Prision32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Prision" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Prision" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIngresoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IngresoBE" nillable="true" type="tns:IngresoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngresoBE" nillable="true" type="tns:ArrayOfIngresoBE" />
  <xs:complexType name="IngresoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="apePreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codCelda" type="xs:float" />
      <xs:element minOccurs="0" name="delitos" nillable="true" type="tns:ArrayOfDelitoBE" />
      <xs:element minOccurs="0" name="disPreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dniPreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="inscripciones" nillable="true" type="tns:ArrayOfInscripcionBE" />
      <xs:element minOccurs="0" name="nomPreso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IngresoBE" nillable="true" type="tns:IngresoBE" />
  <xs:complexType name="ArrayOfDelitoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DelitoBE" nillable="true" type="tns:DelitoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDelitoBE" nillable="true" type="tns:ArrayOfDelitoBE" />
  <xs:complexType name="DelitoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="nomDelito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="participacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DelitoBE" nillable="true" type="tns:DelitoBE" />
  <xs:complexType name="ArrayOfInscripcionBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InscripcionBE" nillable="true" type="tns:InscripcionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInscripcionBE" nillable="true" type="tns:ArrayOfInscripcionBE" />
  <xs:complexType name="InscripcionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="apePreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desPrograma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecIni" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nomPreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomPrograma" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InscripcionBE" nillable="true" type="tns:InscripcionBE" />
</xs:schema>