ConsumirServiciosProyecto/ConsumirServiciosProyecto_WEBGUI/App_WebReferences/ProxyVisita/ServicioVisita1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioVisita" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://c205-07redes/WCFPrision/WCF_Prision.ServicioVisita.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://c205-07redes/WCFPrision/WCF_Prision.ServicioVisita.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://c205-07redes/WCFPrision/WCF_Prision.ServicioVisita.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Prision" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioVisita_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServicioVisita_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioVisita_GetAllVisita_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisita" />
  </wsdl:message>
  <wsdl:message name="IServicioVisita_GetAllVisita_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisitaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioVisita_GetAllVisitaFechas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisitaFechas" />
  </wsdl:message>
  <wsdl:message name="IServicioVisita_GetAllVisitaFechas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisitaFechasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioVisita_GetAllVisitaPreso_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisitaPreso" />
  </wsdl:message>
  <wsdl:message name="IServicioVisita_GetAllVisitaPreso_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisitaPresoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioVisita">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVisita/DoWork" message="tns:IServicioVisita_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVisita/DoWorkResponse" message="tns:IServicioVisita_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVisita">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVisita/GetAllVisita" message="tns:IServicioVisita_GetAllVisita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVisita/GetAllVisitaResponse" message="tns:IServicioVisita_GetAllVisita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVisitaFechas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVisita/GetAllVisitaFechas" message="tns:IServicioVisita_GetAllVisitaFechas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVisita/GetAllVisitaFechasResponse" message="tns:IServicioVisita_GetAllVisitaFechas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVisitaPreso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVisita/GetAllVisitaPreso" message="tns:IServicioVisita_GetAllVisitaPreso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVisita/GetAllVisitaPresoResponse" message="tns:IServicioVisita_GetAllVisitaPreso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioVisita" type="tns:IServicioVisita">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServicioVisita/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVisita">
      <soap:operation soapAction="http://tempuri.org/IServicioVisita/GetAllVisita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVisitaFechas">
      <soap:operation soapAction="http://tempuri.org/IServicioVisita/GetAllVisitaFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVisitaPreso">
      <soap:operation soapAction="http://tempuri.org/IServicioVisita/GetAllVisitaPreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioVisita">
    <wsdl:port name="BasicHttpBinding_IServicioVisita" binding="tns:BasicHttpBinding_IServicioVisita">
      <soap:address location="http://c205-07redes/WCFPrision/WCF_Prision.ServicioVisita.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>