ConsumirServiciosProyecto/ConsumirServiciosProyecto_WEBGUI/App_WebReferences/ProxyVisita/WCF_Prision3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Prision" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Prision" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVisitaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisitaBE" nillable="true" type="tns:VisitaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitaBE" nillable="true" type="tns:ArrayOfVisitaBE" />
  <xs:complexType name="VisitaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="apePreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apeVisitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirVisitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="disVisitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dniPreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dniVisitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecVisita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="motVisita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomPreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomVisitante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisitaBE" nillable="true" type="tns:VisitaBE" />
</xs:schema>