ConsumirServiciosProyecto/ConsumirServiciosProyecto_WEBGUI/App_WebReferences/ProxyVisita/WCF_Prision32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://c205-07redes/WCFPrision/WCF_Prision.ServicioVisita.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Prision" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisita">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetAllVisitaResult" nillable="true" type="q1:ArrayOfVisitaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisitaFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisitaFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetAllVisitaFechasResult" nillable="true" type="q2:ArrayOfVisitaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisitaPreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strDNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisitaPresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetAllVisitaPresoResult" nillable="true" type="q3:ArrayOfVisitaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>