ClienteConsumir/ClienteInfraccionesWindows/Service References/ProxyInfracciones/WCF_Final.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://c205-06redes/WCFFinal/WCF_Final.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Final" />
  <xs:element name="ObtenerPapeletasFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPapeletasFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Final" minOccurs="0" name="ObtenerPapeletasFechasResult" nillable="true" type="q1:ArrayOfPapeletaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPapeletasImpagasVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPlaca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPapeletasImpagasVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Final" minOccurs="0" name="ObtenerPapeletasImpagasVehiculoResult" nillable="true" type="q2:ArrayOfPapeletaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>