Prision_WCF_ Main/ClienteWEB/App_WebReferences/ProxyInscripciones/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioInscripcion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Prision" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioInscripcion_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServicioInscripcion_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInscripcion_GetAllInscripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInscripcion" />
  </wsdl:message>
  <wsdl:message name="IServicioInscripcion_GetAllInscripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInscripcion_GetAllInscripcionFechas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInscripcionFechas" />
  </wsdl:message>
  <wsdl:message name="IServicioInscripcion_GetAllInscripcionFechas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInscripcionFechasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInscripcion_GetAllInscripcionPreso_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInscripcionPreso" />
  </wsdl:message>
  <wsdl:message name="IServicioInscripcion_GetAllInscripcionPreso_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInscripcionPresoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioInscripcion">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInscripcion/DoWork" message="tns:IServicioInscripcion_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInscripcion/DoWorkResponse" message="tns:IServicioInscripcion_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInscripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInscripcion/GetAllInscripcion" message="tns:IServicioInscripcion_GetAllInscripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInscripcion/GetAllInscripcionResponse" message="tns:IServicioInscripcion_GetAllInscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInscripcionFechas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInscripcion/GetAllInscripcionFechas" message="tns:IServicioInscripcion_GetAllInscripcionFechas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInscripcion/GetAllInscripcionFechasResponse" message="tns:IServicioInscripcion_GetAllInscripcionFechas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInscripcionPreso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInscripcion/GetAllInscripcionPreso" message="tns:IServicioInscripcion_GetAllInscripcionPreso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInscripcion/GetAllInscripcionPresoResponse" message="tns:IServicioInscripcion_GetAllInscripcionPreso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioInscripcion" type="tns:IServicioInscripcion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServicioInscripcion/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInscripcion">
      <soap:operation soapAction="http://tempuri.org/IServicioInscripcion/GetAllInscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInscripcionFechas">
      <soap:operation soapAction="http://tempuri.org/IServicioInscripcion/GetAllInscripcionFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInscripcionPreso">
      <soap:operation soapAction="http://tempuri.org/IServicioInscripcion/GetAllInscripcionPreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioInscripcion">
    <wsdl:port name="BasicHttpBinding_IServicioInscripcion" binding="tns:BasicHttpBinding_IServicioInscripcion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Prision/ServicioInscripcion/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>