Prision_WCF_ Main/ClienteWEB/App_WebReferences/ProxyInscripciones/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Prision" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInscripcion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInscripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetAllInscripcionResult" nillable="true" type="q1:ArrayOfInscripcionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInscripcionFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInscripcionFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetAllInscripcionFechasResult" nillable="true" type="q2:ArrayOfInscripcionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInscripcionPreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strDNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInscripcionPresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Prision" minOccurs="0" name="GetAllInscripcionPresoResult" nillable="true" type="q3:ArrayOfInscripcionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>